<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIconAlt</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIconAlt</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_gc-party._tcp</string>
		<string>_gc-party._udp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Games Collection benötigt Zugriff auf das lokale Netzwerk, um Multiplayer-Spiele mit anderen Geräten in deiner Nähe zu ermöglichen.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
